/* css colors
colocar hash antes
040D12 preto
183D3D verde escuro
5C8374 um verde meio escuro
93B1A6 verde claro
FAF1E4 branco
CEDEBD verde mto claro
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* body */

body {
  height: 100vh;
}
/* page */
.page {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: auto;
}

/* header */
/* A propriedade z-index controla a ordem em que os elementos são empilhados na página. */

header {
  background-color: rgb(19, 17, 17);
  width: 100%;
  padding: 12px 24px 10px 0;
  position: fixed;
  z-index: 1;
}

header #header-itens {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo-page {
  width: 100px;
  padding-left: 24px;
}

header ul {
  margin: 0;
  padding-left: 0px;
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

header nav {
  padding-right: 300px;
}

header ul li a {
  text-decoration: none;
  color: #faf1e4;
  font-weight: bold;
}
header ul li a:hover {
  font-weight: bold;
  color: #5c8374;
}

/* contact header */

header .call-icon {
  font-size: 20px;
  padding-left: 25px;
  color: #faf1e4;
}

header .number {
  color: #faf1e4;
  font-weight: bold;
}
header .wpp-icon {
  font-size: 21px;
  color: #faf1e4;
  padding-left: 40px;
}

header .number-wpp {
  color: #faf1e4;
  font-weight: bold;
  padding-right: 20px;
}

/* page, inicio */

/* para escurecer um wallpaper de uma pagina, diga que a posição dela é relativa e em seguida faça um before do item (antes dele) e diga que a posição dele é absoluta (vai ser absoluta em relação somente ao wallpaper por ter aplicado uma posição relativa a ele), coloque um content vazio (content: "";) para que o conteudo do item seja vazio e apenas a cor que será aplicada, de um top e left 0 para aplicat o escurecimento em cima, embaixo e nas laterais, diga que ele vai ocupar 100% de altura e largura do seu wallpaper e dai você pode aplicar a transparencia/escurecimento no item com um rgba no final dele escurecendo o item. Após isso apenas aplique um position relative nos seus textos para que o escurecimento não se aplique a eles também.  */
#inicio {
  display: flex;
  width: 100%;
}

#inicio .bg-inicio {
  background: url(./assets/wallpaper-inicio.jpg) no-repeat top center/ cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;
}

#inicio .bg-inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

#inicio h1 {
  color: white;
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
  padding-top: 60px;
  padding-bottom: 10px;
  position: relative;
}

#inicio h1 .title-inicio {
  color: #ffd700;
}

#inicio p {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: 50px;
  line-height: 30px;
  padding-bottom: 40px;
  position: relative;
}

#inicio p .p-inicio {
  color: #ffd700;
}

/* page, nossa gráfica */
#nossa-grafica {
  background-color: #08090a;
  padding: 50px 40px;
  display: flex;
  width: 100%;
}

#nossa-grafica .bg-nossa-grafica {
  border: 4px solid #70a592;
  border-radius: 10px;
  margin-top: 0;
  background: white;
  text-align: center;
}

#nossa-grafica .grafica-icon {
  font-size: 80px;
  padding-top: 30px;
}

#nossa-grafica h1 {
  color: black;
  padding: 20px 0 50px 0;
  font-size: 50px;
}

#nossa-grafica .title-inicio-grafica {
  color: #70a592;
}

#nossa-grafica p {
  color: black;
  padding: 0 20px 60px;
  font-size: 22px;
  line-height: 30px;
}

#nossa-grafica .p-grafica {
  font-weight: bold;
  color: #70a592;
}

/* page, quem somos */

#quem-somos .bg-quem-somos {
  background: url(./assets/wallpaper4.jpg) no-repeat top center/ cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100vh;
}

#quem-somos .bg-quem-somos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-quem-somos h1 {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  position: relative;
}

/* containers quem somos */

#container-quem-somos {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 48px 40px 60px;
  gap: 30px;
}

#container-quem-somos .icon-quem-somos {
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin: auto auto 30px;
  padding: auto;
}

#container-quem-somos h2 {
  font-size: 40px;
  text-align: center;
}

#container-quem-somos p {
  text-align: justify;
  padding-top: 15px;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
/* container equipe */

#container-quem-somos .container-equipe span {
  color: #70a592;
}
#container-quem-somos .container-equipe {
  border: 1px #183d3d;
  border-style: solid ridge;
  padding: 40px;
  border-radius: 10px;
}

/* container filosofia */

#container-quem-somos .container-filosofia h2 span {
  color: #1f5252;
}

#container-quem-somos .container-filosofia {
  border: 1px;
  border-style: solid ridge;
  padding: 40px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

/* container conduta*/

#container-quem-somos .container-conduta span {
  color: #70a592;
}

#container-quem-somos .container-conduta {
  border: 1px #183d3d;
  border-style: solid ridge;
  padding: 40px;
  border-radius: 10px;
  margin-right: 76px;
}

/* page, nossos serviços */
#servicos {
  background-color: #04050f;
}

#servicos .bg-servicos {
  background: url(./assets/mao_globo.jpg) no-repeat top center/ cover;
  padding: 300px 0;
  position: relative;
  height: 100vh;
}

#servicos .bg-servicos::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-servicos h1 {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  position: relative;
}

.lista-servico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 60px 200px 0px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: center;
  list-style: none;
  padding: 30px 0px 0px;
}

.lista-servico .title-produtos {
  font-size: 25px;
  padding: 0px 10px 20px 0px;
  color: black;
}

.lista-servico .icon-servico {
  margin-right: 10px;
}

.lista-servico p {
  font-size: 17px;
  padding: 0px 20px 20px;
  color: black;
}

.lista-servico .fim-servico {
  align-items: center;
  border-top: 3px solid black;
  padding: 20px 40px;
  font-weight: bold;
  color: black;
}

.lista-servico .icon-fim-servico {
  font-size: 40px;
  padding-bottom: 10px;
}

/* page, contato */

#bg-contato-orcamento {
  background: url(./assets/serviços.jpg) no-repeat top center/ cover;
  padding: 300px 0;
  height: 100vh;
  position: relative;
}

#bg-contato-orcamento::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

#contato-orcamento .title-contato-orcamento {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  position: relative;
}

#bg-lista-contato {
  background-color: #0b1221;
  padding: 50px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#map-box-contato {
  position: relative;
  width: 500px;
  height: 300px;
  border-radius: 8px;
  background-color: white;
}

#map-box-contato iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#container-contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 300px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #06070d;
  color: white;
}

#container-contato h2 {
  padding: 10px 0px;
  font-size: 30px;
}

#container-contato ul {
  list-style: none;
  padding-right: 30px;
}

#container-contato ul li {
  padding: 12px 0px 18px 0px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

#container-contato ul li .icon-contato {
  font-size: 22px;
  padding-right: 20px;
  padding-left: 12px;
}

/* page, footer */

footer {
  padding: 12px;
  background-color: #05071a;
  color: white;
}

#content-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content-footer .logo-page {
  width: 90px;
}

#content-footer p {
  font-size: 12px;
}

/* page, icon wpp fixed */
#button-wpp-fixed {
  display: flex;
}

.icon-wpp-fixed {
  position: fixed;
  bottom: 26px;
  right: 20px;
  background-color: #2ea87b;
  border-radius: 50%;
  padding: 15px;
  color: white;
  font-size: 30px;
  z-index: 1;
  cursor: pointer;
}

/* medias responsives */
