/* css colors
colocar hash antes
040D12 preto
183D3D verde escuro
5C8374 um verde meio escuro
93B1A6 verde claro
FAF1E4 branco
CEDEBD verde mto claro
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
/* body */

body {
  height: 100vh;
}

/* page */
.page {
  width: 100%;
  max-width: 588px;
  margin: auto;
  padding: auto;
}

/* header */

#inicio {
  background-color: rgb(19, 17, 17);
  width: 100%;
  padding: 12px 24px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

#inicio .logo-page {
  width: 100px;
  padding-left: 24px;
}

#inicio ul {
  margin: 0;
  padding-left: 0px;
  display: flex;
  list-style: none;
  gap: 32px;
  align-items: center;
}

#inicio nav {
  padding-right: 500px;
}

#inicio ul li a {
  text-decoration: none;
  color: #faf1e4;
  font-weight: bold;
}

#inicio ul li a:hover {
  font-weight: bold;
  color: #5c8374;
}

/* contact header */

.call-icon {
  font-size: 20px;
  padding-left: 25px;
  color: #faf1e4;
}

.number {
  color: #faf1e4;
  font-weight: bold;
}
.wpp-icon {
  font-size: 21px;
  color: #faf1e4;
  padding-left: 40px;
}

.number-wpp {
  color: #faf1e4;
  font-weight: bold;
  padding-right: 20px;
}

/* page, quem somos */

#quem-Somos .bg-quem-somos {
  background: url(./assets/wallpaper4.jpg) no-repeat top center/ cover;
  padding: 230px;
}

.bg-quem-somos h1 {
  display: flex;
  font-size: 60px;
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
  color: white;
}

/* containers quem somos */

#container-quem-somos {
  display: flex;
  margin: 48px 40px 60px;
  gap: 30px;
}

#container-quem-somos h2 {
  font-size: 40px;
  text-align: left;
}

#container-quem-somos p {
  text-align: left;
  padding-top: 15px;
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  line-height: 30px;
}
/* container equipe */

#container-quem-somos .container-equipe span {
  color: #a2e0c9;
}
#container-quem-somos .container-equipe {
  border: 1px #183d3d;
  border-style: outset ridge;
  padding: 40px;
  border-radius: 10px;
}

/* container filosofia */

#container-quem-somos .container-filosofia h2 span {
  color: #183d3d;
}

#container-quem-somos .container-filosofia {
  border: 1px;
  border-style: solid outset;
  padding: 40px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

/* container conduta*/

#container-quem-somos .container-conduta span {
  color: #a2e0c9;
}

#container-quem-somos .container-conduta {
  border: 1px #183d3d;
  border-style: outset ridge;
  padding: 40px 40px 80px;
  border-radius: 10px;
}
